/* Estilos Gerais */
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(''); /* Insira o caminho correto para sua imagem */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
  width: 100%; /* Defina o valor desejado (porcentagem ou pixels) */

}

/* Estilos do Cabeçalho e Rodapé */
header, footer {
  background-image: url('img/Img Topo.jpeg'); /* Verifique se este é o caminho correto */
  background-color: hsl(247, 100%, 14%);
  background-repeat: no-repeat; /* Corrige a propriedade para evitar repetição */
  background-size: 100%; /* Garante que a imagem cubra toda a área */
  color: white;
  padding: 10px 20px;
}

/* Estilos da Navegação */
nav {
  margin-bottom: 20px;
  margin-right: 10px; /* Ajustado para 10px */
  height: auto; /* Alterado de 10 para auto */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start; /* Alterado de space-around para flex-start */
    color: rgb(255, 153, 0);
}

nav ul li {
  margin-top: 0;
  padding-inline: 0;
  display: flex;
  margin-right: 10px; /* Ajustado para 10px */
}


nav a {
  text-decoration: none;
  color: rgb(0, 228, 228);
}

/* Estilos do Conteúdo */
.content {
  margin: 20px;
  position: relative;
  z-index: 1;
  padding: 20px;
  background: rgba(106, 164, 252, 0.8);
}


.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: 70%;
  height: auto;
  z-index: -1;
  background-size: cover;
}

.video-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-image {
  width: 100%; /* Ajuste a porcentagem conforme necessário */
 
}




@media (max-width: 768px) {
  .video-image-container {
    flex-direction: column;
    flex-direction: unset;
  }

  .bg-video,
  .side-image {
    width: 100%;
  }
}

/* Estilos do Botão do WhatsApp */
.whatsapp-button {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25D366;
  color: #f8f8f8;
  border-radius: 50%;
  text-align: center;
  font-size: 30px;
  z-index: 100;
}

.whatsapp-icon {
  margin-top: 15px;
}

.footer-content {
  text-align: center;
  width: 100%;
  display: block;
}



ul.box-redes-sociais {
  display: flex;
  background: transparent;
  width: 305px;
  margin-left: auto;;
}

ul.box-redes-sociais li {
  list-style: none;
  margin: auto;
}
ul.box-redes-sociais li a {
  width: 50px;
  height: 50px;
  background-color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 22px;
  margin: 0 5px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 2px solid #eaeaea;
  z-index: 1;
}

ul.box-redes-sociais li a .icon {
  position: relative;
  color: #262626;
  transition: .3s;
  z-index: 3;
}


ul.box-redes-sociais li a:hover .icon {
  color:#ff4608;
  transform: scale(1.2);
}


.fab fa-intagram .icon{

  width: 100px;
  height: unset;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }
}


@media (max-width: 768px) {
  .bg-video {
    position: relative; /* Posição relativa para dispositivos menores */
    width: 100%; /* Ocupa a largura total */
    height: auto; /* Altura automática para manter a proporção */
  }
}
